body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}


h1 h2 h3 h4 h5 h6 {
    font-family:'Georgia', Times, Times New Roman, serif;
}
/*
CSS styling for the top bar
*/
.top_bar {
    position: relative;
    height:100px;
    background-image: url(../images/headerBack.jpg);
    padding: 0px;
    border: 0px;
    border-bottom: 1px solid black;
    margin: 0px;
}

.name {
    position: absolute;
    left: 150px;
    bottom: 0px;
    width: 300px;
    font-weight: bolder;
    background-image: url(../images/barBackground.jpg);
    text-align: center;
    font-size: 40px;
    margin: 0px;
    border: 0px;
    padding: 20px;
    padding-bottom: 5px;
    color: white;
}

#navigation {
    position: absolute;
    bottom: 0px;
    right: 150px;
    background-image: url(../images/barBackground.jpg);
    width: 600px;
    font-size: 30px;
    font-weight: bold;
 
}

ul.top_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:white;
}

li.top_navi {
    float:left;
}

li.top_navi a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    border-right-style: solid;
    text-decoration: none;
    color: white;
}

li.top_navi a:hover {
    color: blue;
}

/*
CSS styling for the body
*/


.wrapper {
    position:relative;
    background-image: url(../images/backgroundPatternWrap.jpg);
    height: 800px;


}

#aboutMeBox {
    float:left;
    width: 800px;
    height: 600px;
    padding: 20px;
    margin:100px;
    background-image: url(../images/headerBack.jpg);
    overflow: auto;
}

.aboutMe {

    font-weight: bolder;
    font-size: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;

}

.myPhoto {
    float: left;
    margin: 4px 10px 0px 0px;

}
#aboutContent {
    line-height: 35px;
    font-size: 25px;
}

#connectBox {

    float: left;
    background-image: url(../images/headerBack.jpg);
    width: 350px;
    height: 250px;
    padding: 20px;
    margin: 100px;
    margin-left: 20px;
}

.connect {

    font-weight: bolder;
    font-size: 32px;
    padding-bottom: 18px;
    border-bottom: 1px solid black;
    margin-bottom: 18px;
}

ul.connectMe{
    
  
    font-weight: bold;
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.connectMe {
    float:left;
}

li.connectMe a {

    display: block;
    text-align: center;
    text-decoration: none;
    margin: 18px;
    margin-top: 40px;
    padding:5px;
}

li.connectMe a:hover {
    border: 1px solid black;
    border-radius: 5px;
}

.logo {

    width: 70px;
  
}

/* 
CSS stylesheet for footer
*/

footer {
    position:relative;
    height:100px;
    width: 100%;
    background-color: grey;
    padding: 0px;
    border: 0px;
    border-top: 5px solid white;
    margin: 0px;

}

#foot {
    color: white;
    text-align: center;
    margin: 30px;
    margin-top: 50px;

}
/*

CSS for portfolio page starts here

*/

/*

CSS for portfolio box

*/

.portfolio {
    font-weight: bolder;
    font-size: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.portfolioEntry {

    float: left;
    height: 250px;
    width: 250px;
    background-color: white;
    overflow:hidden;
    position: relative;
    margin: 25px;

}

.entryName {
    width:250px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

/*
CSS for contact html starts here
*/

.contact {
    font-weight: bolder;
    font-size: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.inputs {

    font-size: 20px;
    margin-top: 10px;
}

input[type=text] {
    width: 100%;
    font-size: 20px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=submit] {

    font-size: 20px;
    background-color: black;
    color:white;
    padding: 10px 25px;
}

input[type=reset] {
    font-size:20px;
    background-color: black;
    color:white;
    padding: 10px 25px;
}

input[type=submit]:hover {
    background-color:grey;
}

input[type=reset]:hover {
    background-color:grey;
}
textarea {
    width: 100%;
    height: 250px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 12px;

}